<div class="showimg" style="background-image: url('<%= cl_image_path @cocktail.photo.key %>');">
  <div class="container vh-100">
    <div class="navbar justify-content-start"> 
      <%= link_to 'List', cocktails_path, :class => "btn btn-primary shadow mx-1" %>
      <%= link_to 'New cocktail', new_cocktail_path, :class => "btn btn-primary shadow mx-1" %>
      <%= link_to 'Edit', edit_cocktail_path(@cocktail.id), :class => "btn btn-primary shadow mx-1" %>
      <%= link_to "Delete",
                  cocktail_path(@cocktail),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, :class => "btn btn-primary shadow mx-1" %>
    </div>

      <div class="card-product">
      <div class="card-product-title">
        <h2><%= @cocktail.name %></h2>
        <%= link_to 'New Dose', new_cocktail_dose_path(@cocktail), :class => "btn btn-primary shadow" %>
      </div>
      <div class="card-product-infos">
          <% @cocktail.doses.each do |dose| %>
            <div class="d-flex p-2">
                <%= dose.description %>
                <%= dose.ingredient.name %>
                  <%= link_to dose_path(dose), method: :delete, data: { confirm: "Yeahh just do it!" } do %>
                <i class="fas fa-trash del-icon"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>



  </div>
</div>